* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* section classes */

header {
    background-color: #0084FD;
    color: #fff;
    padding: 15px 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}


.header-col, .footer-col {
    width: 50%;
}

footer {
    background-color: #333333;
    color: #fff;
    padding: 20px
}

.footer-col {
    text-align: center;
}

/* layout class */

.container {
    max-width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-20, .col-25, .col-33, .col-66, .col-50, .col-80, .col-100 {
    width: 100%;
}



header .content {
    height: 75px;
}

.content {
    margin: 10px;
    background-color: green;
    height: 300px;
    border: 1px solid black;
}

/* utility classis */

.float-end {
    float: right;
}


/* Media query */

@media screen and (min-width: 576px) {
    
    .col-66 {
        width: calc(100% / 3 * 2);
    }

    .col-33 {
        width: calc(100% / 3);
    }

    .col-50 {
        width: 50%;
    }

    .col-25 {
        width: 50%;
    }
}